[Unit]
Description=Nimbus Eth1 portal bridge node ({{ portal_bridge_repo_branch }})
Documentation=https://github.com/status-im/nimbus-eth1
Requires=network-online.target
After=network-online.target

[Service]
User={{ portal_bridge_user }}
Group={{ portal_bridge_group }}
WorkingDirectory={{ portal_bridge_service_path }}
SyslogIdentifier={{ portal_bridge_service_name }}
SyslogFacility=local6
SyslogLevel=debug
Restart=on-failure
ExecStart={{ portal_bridge_binary_path }} \
  --log-level={{ portal_bridge_log_level | upper }} \
  --portal-rpc-url={{ portal_bridge_portal_rpc_url }} \
{% if portal_bridge_command == "beacon" %}
  beacon \
  --rest-url={{ portal_bridge_rest_url | mandatory }} \
  --backfill-amount={{ portal_bridge_backfill_amount | mandatory }}
{% elif portal_bridge_command == "history" %}
  history \
  --web3-url={{ portal_bridge_web3_url | mandatory }} \
  --block-verify={{ portal_bridge_block_verify }} \
  --latest={{ portal_bridge_latest }} \
  --backfill-mode={{ portal_bridge_backfill_mode }} \
  --era1-dir={{ portal_bridge_era1_dir }}
{% elif portal_bridge_command == 'state' %}
  state \
  --web3-url={{ portal_bridge_web3_url | mandatory }}
{% endif %}

[Install]
WantedBy=multi-user.target
